<nav ng-if="pages.length > 1">
    <ul class="pagination">
        <li>
            <a ng-click="selectPage(1)">&Lt;</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: page == currentPage}">
            <a ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li>
            <a ng-click="selectPage(numPages)">&Gt;</a>
        </li>
    </ul>
</nav>